

.Logo{    
    padding: 2px;
    height: 70%;    
}

.shreyans{
    font-family: 'Insaniburger With Cheese';
}

.Logo img{
    height: 100%;
    margin: 3px;
    
}

@media(max-width:800px){
    .Logo img{
        height:80%;
    }
}
@media(max-width:701px){
    .Logo img{
        height:50%;
    }
}
@media(max-width:555px){
    .Logo img{
        height:30%;
    }
}